.placeholder {
  height: 400px !important;
  background: rgba(255, 0, 0, 0.1) !important;
  border: dashed 1em black !important;
  border-radius: 2em !important;
  transition: transform 0.2s;
}

.dropzone {
  transform: scale(1.02);
}

.labelStyle {
  line-height: 385px;
}