div.jqtree-element.jqtree_common {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  color: #3c8dbc;
}

div.jqtree-element.jqtree_common .fa{
  width: 20px;
}

ul.jqtree-tree .jqtree-title {
  color: #3c8dbc;
  margin-left: 0;
}

a.jqtree-toggler {
  position: absolute;
  right: 20px;
}

a.jqtree-toggler .fa {
  color: #3c8dbc;
}